@media screen and (max-width:576px)
{
.consultant, .nav-item i{
    display: none !important;
}
.nav-link:after{
    bottom: 0 !important;
}
.nav-link{
    width: fit-content;
}
.custom-btn{
    padding-right: 27px;
}
.header .title-header {
        font-size: 56px;
}
.header h2{
    font-size: 40px;
}
.header a {
    font-size: 27px;
}
.news .date{
    top: 68%;
}
.bg-food7, .bg-food8 , .bg-food9, .right-bathengan, .tomato{
    display: none;
}
.green-fruit img{
    width: 50%;
}
.green-fruit {
    top: 43px;
    left: 26px;
}
.footer{
    background-size: 67%;
    background-position-x: center;
    background-position-y: top;
}
.subscribe .subscribe-btn{
    margin-right: 43%;    
}
.help{
    display: none;
}
.contact-info{
    padding-left: 40px;
    order: 2 !important;
}
.quick-list{
    order: 1 !important;
}
.social-contact{
    order: 0 !important;
}
.custom-btn{
    padding-right: 27px;
}
.header .header-content .content{
    padding: 50px 50px;
}
}

@media screen and (max-width:350px){
    .news .date{
        top: 53%;
    }
}
@media screen and (min-width:100px) and (max-width: 290px){
    .news .date{
        top: 45%;
    }
}
@media screen and (min-width:360px) and (max-width: 500px){
    .news .date{
        top: 58%;
    }
}
@media screen and (min-width:300px) and (max-width: 350px){
    .news .date{
        top: 50%;
    }
}
@media screen and (width=574px){
    .news .date{
        top: 68%;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    .nav-link:after{
        bottom: 0 !important;
    }
    .nav-link{
        width: fit-content;
    }
    .consultant, .nav-item i{
        display: none !important;
    }
    .header h2 {
        font-size: 50px;
    }
    .header a {
        font-size: 30px;
    }
    .news .date{
        top: 68%;
    }
    .decore {
        width: 74%;
        left: 88px;
    }
    .help{
        display: none;
    }
    .contact-info{
        padding-left: 40px;
        order: 2 !important;
    }
    .quick-list{
        order: 1 !important;
    }
    .social-contact{
        order: 0 !important;
    }
    .custom-btn{
        padding-right: 27px;
    }
    .two-paper{
        width: 20% !important;
        bottom: -48px;
        right: 0px;
    }
    .bg-food7, .bg-food8 , .bg-food9, .right-bathengan{
        display: none;
    }
    .green-fruit img{
        width: 50%;
    }
    .green-fruit {
        top: 43px;
        left: 26px;
    }
    .footer{
        background-size: 67%;
        background-position-x: center;
        background-position-y: top;
    }
}
@media screen and (min-width:799px) and (max-width:992px){
    .nav-link:after{
        bottom: 0 !important;
    }
    .nav-link{
        width: fit-content;
    }
    .consultant, .nav-item i{
        display: none !important;
    }
    .help{
        display: none;
    }
    .contact-info{
        padding-left: 40px;
        order: 2 !important;
    }
    .quick-list{
        order: 1 !important;
    }
    .social-contact{
        order: 0 !important;
    }
    .custom-btn{
        padding-right: 27px;
    }

    .bg-food7, .bg-food8 , .bg-food9, .right-bathengan{
        display: none;
    }
    .green-fruit img{
        width: 50%;
    }
    .green-fruit {
        top: 43px;
        left: 26px;
    }
    .footer{
        background-size: 60%;
        background-position-x: center;
        background-position-y: top;
    }
}

@media screen and (min-width:1500px){
    .header h2 {
        font-size: 100px;
    }
    .header a {
        font-size: 32px;
    }
    
}