@media screen and (max-width:576px)
{
.consultant, .nav-item i{
    display: none !important;
}
.nav-link:after{
    bottom: 0 !important;
}
.nav-link{
    width: fit-content;
}
.custom-btn{
    padding-right: 27px;
}
.portfolio-header .title-header {
        font-size: 54px;
}
.portfolio-header a {
    font-size: 19px;
}
.decore {
    width: 79%;
    left: 11%;
}
.subscribe .subscribe-btn{
    margin-right: 43%;   
}
.help{
    display: none;
}
.contact-info{
    padding-left: 40px;
    order: 2 !important;
}
.quick-list{
    order: 1 !important;
}
.social-contact{
    order: 0 !important;
}
.custom-btn{
    padding-right: 27px;
}
.portfolio-header .header-content .content{
    padding: 50px 50px;
}
.bg-food7, .bg-food8 , .bg-food9, .right-bathengan, .tomato{
    display: none;
}
}
@media screen and (max-width:367px){
    .to-top {
        bottom: 122px;
        left: 45%;
    }
    .contact-information .final:before {
        bottom: 146px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .nav-link:after{
        bottom: 0 !important;
    }
    .nav-link{
        width: fit-content;
    }
    .consultant, .nav-item i{
        display: none !important;
    }
    .decore {
        width: 74%;
        left: 88px;
    }
    .help{
        display: none;
    }
    .contact-info{
        padding-left: 40px;
        order: 2 !important;
    }
    .quick-list{
        order: 1 !important;
    }
    .social-contact{
        order: 0 !important;
    }
    .custom-btn{
        padding-right: 27px;
    }
    .bg-food7, .bg-food8 , .bg-food9, .right-bathengan{
        display: none;
    }

}
@media screen and (min-width:1300px) and (max-width:2000px){
    
    .decore{
        width: 44% !important;
        left: 28% !important;
    }

}
@media screen and (min-width:799px) and (max-width:992px){
    .nav-link:after{
        bottom: 0 !important;
    }
    .nav-link{
        width: fit-content;
    }
    .consultant, .nav-item i{
        display: none !important;
    }
    .decore {
        width: 74%;
        left: 88px;
    }
    .help{
        display: none;
    }
    .contact-info{
        padding-left: 40px;
        order: 2 !important;
    }
    .quick-list{
        order: 1 !important;
    }
    .social-contact{
        order: 0 !important;
    }
    .custom-btn{
        padding-right: 27px;
    }
    .bg-food7, .bg-food8 , .bg-food9, .right-bathengan{
        display: none;
    }
}
@media screen and (min-width:1500px){
    .portfolio-header h2 {
        font-size: 100px;
    }
    .portfolio-header a {
        font-size: 32px;
    }
    
}