/* Shadows Into Light*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* Livvic  */
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&display=swap');


:root{
    --main-color: #ff7800;
    --green:#76a713 ;
    --bold-green: #227200;
    --template-bg-light: #f0f4fb;
}
.bg-orange-color{
    background-color: var(--main-color);
}
.bg-green{
    background-color: var(--green);
}
.text-green{
    color: var(--green);
}
.text-orange{
    color: var(--main-color);
}
a{
    text-decoration: none;
} 
.scroll-up{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100% ;
    color: #fff;
    background-color: var(--main-color);
    -webkit-border-radius: 100% ;
    -moz-border-radius: 100% ;
    -ms-border-radius: 100% ;
    -o-border-radius: 100% ;
    bottom: 19px;
    right: 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    cursor: pointer;
}
/* start navbar */
nav ul li{
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #1a2428;
    text-transform: capitalize;
    font-family: "Livvic", sans-serif;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--main-color);
}
.navbar-expand-lg .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: 1s ease-in;
    -webkit-transition: 1s ease-out ;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transform: translate(-50%);
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after{
    width: 100%;
}
nav{
    position: relative;
}
/* nav:after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height: 1px;
    width: 100%;
    background-color: #c6cace; 
} */
.burger-icon {
    width: 35px;
    cursor: pointer;
}
.burger-icon > span {
    background-color: #1a2428;
    margin: 4px 0;
    transition: .3s;
    float: right;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.burger-icon > span:nth-child(1), .burger-icon > span:nth-child(3) {
    width: calc(100% - 7px);
    background: #1a2428;
    height: 2px;
}
.burger-icon > span:nth-child(2) {
    width: 100%;
    background: #1a2428;
    height: 2px;
}
.burger-icon:hover > span {
    width: 100%;
}
body{
    position: relative;
}
#offcanvas{
    position: fixed;
    top: 0;
    right: 0; /* Off-canvas position */
    width: 360px;
    height: 100vh!important;
    background-color: #444 !important;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1;
}
.submitee:hover{
    background-color: var(--bold-green);
}
#content {
    padding: 20px;
}
.hidden {
    display: none;
}
body{
    position: relative;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
    z-index: 1;
    display: none; /* Initially hidden */
}
.form-container .form-control{
    background-color: #444!important;
}
.form-container input::placeholder{
    color: #fff !important;
}
.form-container input, .form-container textarea{
    background: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
    font-size: 16px;
    border-color: rgba(255, 255, 255, 0.1) !important;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
}
.form-container textarea::placeholder{
    color: #fff !important;
}
#close-button {
    cursor: pointer;
    padding: 10px;
    background-color: #444;
    text-align: center;
}

/* portfolio header */
.portfolio-header .title-header{
    font-size: 75px;
    font-weight: 400;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
    line-height: 1.13;
    margin-bottom: 12px;
}
.portfolio-header a{
    color: #fff;
    font-size: 24px;
    padding-inline: 3px;
}

.portfolio-header{
    background-image: url(../img/portfolio/logo104.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}
.portfolio-header .header-content .content{
    padding: 46px 78px;
}


/* all food css */
.category{
    bottom: 14%;
    left: 36px;
    opacity: 0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.food:hover .category{
    opacity: 1;
    bottom: 10%;
}
.category h4 a{
    padding: 10px;
}
.category p{
    font-family: "Livvic", sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    padding: 11px;
    padding-bottom: 16px;
    text-transform: capitalize;
}
.category h4{
    font-weight: 600;
    color: #1a2428;
    font-family: "Livvic", sans-serif;
}
.overlay{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 36, 40, 0.4);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}
.nav-tabs .nav-link:hover{
    color: var(--green) ;
}
.nav-tabs .nav-link.active{
    background: transparent;
    color: var(--main-color);
}
.nav-tabs .nav-link{
    font-size: 16px;
    font-weight: 500;
}
.nav{
    border: 2px solid var(--bold-green);
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
nav:after{
    background-color: transparent;
}
.decore{
    border: 2px solid var(--bold-green);
    border-top: 0;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 9px;
    z-index: -1;
    bottom: -20px;
    left: 25%;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
.nav-tabs .nav-link{
    position: relative;
}
.nav-tabs .nav-link:before{
    content: '';
    left: 6px;
    top: 18px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    width: 4px;
    height: 4px;
    background: var(--main-color);
    line-height: 5px;
    border-radius: 50%;
    text-align: center;
}
.nav-tabs .nav-link.active:before{
    opacity: 1;
}



/* start footer css */
.custom-btn{
    position: relative;
    cursor: pointer;
    padding: 11px  34px 11px 24px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.custom-btn i{
    top: 37%;
    right: 18px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.custom-btn:hover i{
    right: 10px;
}
.subscribe .email::placeholder{
    color: #fff;
}
.subscribe h2{
    font-size: 48px;
}
.subscribe .subscribe-btn{
    padding: 11px  34px 11px 26px;
}
.footer{
    background-image: url('../img/home/logo170.png');
    background-repeat: no-repeat;
    background-position: 34% -50%;
    background-color: var(--bold-green);
}
.subscribe .right-bathengan{
    right: 26px;
    top: 30%;
    animation: horizantally 6s infinite alternate-reverse;
    -webkit-animation: horizantally 6s infinite alternate-reverse;
}
@keyframes horizantally {
    from{
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
}
to{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
}
@keyframes verticaly {
    0% {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    }

.subscribe:after{
    background-color: #a8a5a5;
}
.contact-information .bg-food7{
    left: 3%;
    top: 34%;
    animation: horizantally 6s infinite alternate-reverse;
}
.contact-us .quick-list ul li a{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li{
    list-style: none;
    padding-block: 8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li a:before{
    content: '';
    left: -10px;
    top: 9px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    line-height: 5px;
    border-radius: 50%;
    text-align: center;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li a:hover:before{
    opacity: 1;
}
.contact-us .quick-list ul li a:hover{
    padding-left: 10px;
    text-decoration: underline;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.social-contact img{
padding-inline: 26px;
padding-block: 16px;
}
.footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

}
.icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: rgba(255, 255, 255, 0.15);
    color:#fff;
}
.icons i:hover{
    background-color: var(--green);
}
.contact-info .contact-list li{
    list-style: none;
    font-size: 16px;
}
.contact-info{
    padding-left: 100px;
}
.final a:hover{
    text-decoration: underline;
}
.final a{
    color: #fff;
}
.bg-food8{
    bottom: 10%;
    left: 9%;
    animation: verticaly 5s 3s infinite alternate-reverse;
    -webkit-animation: verticaly 5s 3s infinite alternate-reverse;
}
.bg-food9{
    right: 4%;
    bottom: 20%;
    animation: verticaly 5s 3s infinite alternate-reverse;
    -webkit-animation: verticaly 5s 3s infinite alternate-reverse;
}
.subscribe:after, .contact-information .final:before{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height: 1px;
    width: 100%;
    background-color:  #c6cece36; 
}
.contact-information .final:before{
    bottom: 130px;
}
.to-top{
    bottom: 106px;
    left: 50%;
    animation: pull 2s infinite;
    -webkit-animation: pull 2s infinite;
}
.to-top i{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    background-color: var(--main-color);
    border-radius: 5px;
}
@keyframes pull {
    0%{
        transform: scale3d(1,1,1);
    }
    50%{
        transform: scale3d(1.05,1.05,1.05);    ;
        -webkit-transform: scale3d(1.05,1.05,1.05);
        -moz-transform: scale3d(1.05,1.05,1.05);
        -ms-transform: scale3d(1.05,1.05,1.05);
        -o-transform: scale3d(1.05,1.05,1.05);
    }
    100%{
        transform: scale3d(1,1,1);
    }  
}

