/* Shadows Into Light*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* Livvic  */
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&display=swap');


:root{
    --main-color: #ff7800;
    --green:#76a713 ;
    --bold-green: #227200;
    --template-bg-light: #f0f4fb;
}
.bg-orange-color{
    background-color: var(--main-color);
}
.bg-green{
    background-color: var(--green);
}
.text-green{
    color: var(--green);
}
.text-orange{
    color: var(--main-color);
}
a{
    text-decoration: none;
}
.scroll-up{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100% ;
    color: #fff;
    background-color: var(--main-color);
    -webkit-border-radius: 100% ;
    -moz-border-radius: 100% ;
    -ms-border-radius: 100% ;
    -o-border-radius: 100% ;
    bottom: 19px;
    right: 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    cursor: pointer;
}


/* start navbar */
nav ul li{
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #1a2428;
    text-transform: capitalize;
    font-family: "Livvic", sans-serif;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--main-color);
}
.navbar-expand-lg .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: 1s ease-in;
    -webkit-transition: 1s ease-out ;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transform: translate(-50%);
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after{
    width: 100%;
}
nav{
    position: relative;
}
/* nav:after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height: 1px;
    width: 100%;
    background-color: #c6cace; 
} */
.burger-icon {
    width: 35px;
    cursor: pointer;
}
.burger-icon > span {
    background-color: #1a2428;
    margin: 4px 0;
    transition: .3s;
    float: right;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.burger-icon > span:nth-child(1), .burger-icon > span:nth-child(3) {
    width: calc(100% - 7px);
    background: #1a2428;
    height: 2px;
}
.burger-icon > span:nth-child(2) {
    width: 100%;
    background: #1a2428;
    height: 2px;
}
.burger-icon:hover > span {
    width: 100%;
}
#offcanvas{
    position: fixed;
    top: 0;
    right: 0; 
    width: 360px;
    height: 100vh!important;
    background-color: #444 !important;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1;
    
}
.submitee:hover{
    background-color: var(--bold-green);
}
#content {
    padding: 20px;
}
.hidden {
    display: none;
}
body{
    position: relative;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
    z-index: 1;
    display: none; /* Initially hidden */
}
.form-control{
    background-color: #444;
}
input::placeholder{
    color: #fff !important;
}
input, textarea{
    background: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
    font-size: 16px;
    border-color: rgba(255, 255, 255, 0.1) !important;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
}
textarea::placeholder{
    color: #fff !important;
}
#close-button {
    cursor: pointer;
    padding: 10px;
    background-color: #444;
    text-align: center;
}
/*shop- header */
.shop-header h2{
    font-size: 75px;
    font-weight: 400;
    font-family: "Shadows Into Light", cursive;
    text-transform: capitalize;
    line-height: 1.13;
    margin-bottom: 12px;
}
.shop-header a{
    color: #fff;
    font-size: 24px;
    padding-inline: 3px;
}

.shop-header{
    background-image: url(../img/shop/logo102.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}
.shop-header .header-content .content{
    padding: 46px 78px;
}
 /* food details css */
.food-details .product-category h4{
    color: white;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    background-color: var(--green);
    text-align: center;
    white-space: nowrap;
}
.ratings{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.star {
    color:#b1b1b1;
    padding-inline: 2px;
}
.star i.active {
    color: #ff9c1a;
} 
/* .star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star{
transition: color 0.8s ease;
color: var(--main-color);
} */
.food-details h2{
    font-weight: 600;
    color: #1a2428;
    font-family: "Livvic", sans-serif;
    line-height: 1.25;
    font-size: 45px;
    margin-block: 20px;
}
.food-details p{
    color: #666666;
    font-weight: 500;
    line-height: 1.8;
}
.food-details .food-info span:first-child{
    color: #c4bfbf;
    font-size: 17px;
}

.add-to-card{
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.add-to-card .counter{
    display: inline-flex;
    align-content: center;
    align-items: center;
    width: 106px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    background-color: #fff;
    height: 56px;
    border: 1px solid rgba(118, 167, 19, 0.15);
}
.add-to-card .counter a{
    font-size: 18px;
    color: #000 !important;
}
.add-to-card .add-btn{
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
    border-radius: 7px;
    text-align: center;
    padding: 11px 30px;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.information h5 {
    font-size: 18px;
    min-width: 85px;
    color: #1a2428;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
    line-height: 30px;
    text-transform: capitalize;
}
.information  a, .information span{
    color: #6a726d;
    margin-left: -4px;
    font-weight: normal;
    font-size: 17px;
    font-weight: 400;
}
.nav-tabs .nav-link{
    font-size: 24px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 600;
    margin-bottom: -1px;
    display: inline-block;
    padding: 10px 75px 20px;
    font-family: "Livvic", sans-serif;
    border: none;
    background: transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color:#858383
}
.nav-tabs .nav-link.active{
    border-bottom: var(--green) 1px solid;
    color: var(--bold-green);
    
}
.nav-tabs .nav-link{
    border-inline: 0;
    border-top:0;
}
.desc-list li{
    display: flex;
}
.desc-list li i{
    margin-inline-end: 19px;
    font-size: 20px;
}
.description .details{
    color: #666666;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}
.specification-list li:nth-child(2n+1){
    background-color: #fcfcfc;
}
.specification-list li span{
    display: block;
    padding: 10px 20px;
}
.foody{
    background-color: rgba(74, 104, 14, 0.07);
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.add-btn:hover{
    background-color: var(--bold-green);
}
.photos .imgs{
    background-color: rgba(74, 104, 14, 0.07);
    padding: 19px;

}
.photos .imgs{
    border-left: 19px solid #fff;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -8rem;
    margin-right: -18%;
    margin: auto;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    padding: 13px;
    text-indent: 0;
    background-color: rgba(74, 104, 14, 0.07);
    opacity: 1;
    border-left: 19px #fff solid;
}
.carousel-item{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.fa-chevron-left , .fa-chevron-right{
    color: var(--main-color);
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.fa-chevron-left:hover , .fa-chevron-right:hover{
    color: #fff;
    background-color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.carousel-control-next {
    /* right: -19px; */
    top: -9px;
}
.carousel-control-prev {
    /* left: -19px; */
    top: -9px;
}
.carousel-item.active {
    display: block;
    background-color: rgba(74, 104, 14, 0.07);
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* start footer css */
.custom-btn{
    position: relative;
    cursor: pointer;
    padding: 11px  34px 11px 24px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.custom-btn i{
    top: 37%;
    right: 18px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.custom-btn:hover i{
    right: 10px;
}
.subscribe .email::placeholder{
    color: #fff;
}
.subscribe h2{
    font-size: 48px;
}
.subscribe .subscribe-btn{
    padding: 11px  34px 11px 26px;
}
.inc-dec h5{
    cursor: pointer;
}
.note{
    top: 0%;
}
.footer{
    background-image: url('../img/shop/logo118.png');
    background-repeat: no-repeat;
    background-position: 34% -50%;
    background-color: var(--bold-green);
}
.subscribe .right-bathengan{
    right: 4%;
    top: 74px;
    animation: horizantally 6s infinite alternate-reverse;
    -webkit-animation: horizantally 6s infinite alternate-reverse;
}
@keyframes horizantally {
    from{
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
}
to{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
}
@keyframes verticaly {
    0% {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    }
.subscribe:after{
    background-color: #a8a5a5;
}
.contact-information .bg-food7{
    left: 3%;
    top: 34%;
    animation: horizantally 6s infinite alternate-reverse;
}
.contact-us .quick-list ul li a{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li{
    list-style: none;
    padding-block: 8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li a:before{
    content: '';
    left: -10px;
    top: 9px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    line-height: 5px;
    border-radius: 50%;
    text-align: center;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us .quick-list ul li a:hover:before{
    opacity: 1;
}
.contact-us .quick-list ul li a:hover{
    padding-left: 10px;
    text-decoration: underline;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.social-contact img{
padding-inline: 26px;
padding-block: 16px;
}
.footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

}


.icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: rgba(255, 255, 255, 0.15);
    color:#fff;
}
.icons i:hover{
    background-color: var(--green);
}
.contact-info .contact-list li{
    list-style: none;
    font-size: 16px;
}
.contact-info{
    padding-left: 100px;
}
.final a:hover{
    text-decoration: underline;
}
.final a{
    color: #fff;
}
.bg-food8{
    bottom: 10%;
    left: 9%;
    animation: verticaly 5s 3s infinite alternate-reverse;
    -webkit-animation: verticaly 5s 3s infinite alternate-reverse;
}
.bg-food9{
    right: 4%;
    bottom: 20%;
    animation: verticaly 5s 3s infinite alternate-reverse;
    -webkit-animation: verticaly 5s 3s infinite alternate-reverse;
}
.subscribe:after, .contact-information .final:before{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height: 1px;
    width: 100%;
    background-color:  #c6cece36; 
}
.contact-information .final:before{
    bottom: 130px;
}
.to-top{
    bottom: 106px;
    left: 50%;
    animation: pull 2s infinite;
    -webkit-animation: pull 2s infinite;
}
.to-top i{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    background-color: var(--main-color);
    border-radius: 5px;
}
@keyframes pull {
    0%{
        transform: scale3d(1,1,1);
    }
    50%{
        transform: scale3d(1.05,1.05,1.05);    ;
        -webkit-transform: scale3d(1.05,1.05,1.05);
        -moz-transform: scale3d(1.05,1.05,1.05);
        -ms-transform: scale3d(1.05,1.05,1.05);
        -o-transform: scale3d(1.05,1.05,1.05);
    }
    100%{
        transform: scale3d(1,1,1);
    }  
}

